/************************************** 
  BASE ELEMENT STYLES
**************************************/

/* ---- Budget Table Defaults ---- */

.budget table {
  background: #fff;
  border: 1px solid #ccc;
}

.budget td {
  border-bottom: 1px solid #ccc;
}

.budget td,
.budget th {
  border-right: 1px solid #ccc; 
}

.summary-table td {
  width: 50%;
}

.summary-table td:first-child {
  font-weight: bold;
}

/* ---- Expenses Table ---- */

.budget-table td {
  border-top: 1px solid #ccc; 
  border-bottom: 0;
}

.budget-table th:first-child,
.budget-table td:first-child {
  width: 15%;
}

.budget-table th:nth-child(2),
.budget-table td:nth-child(2) {
  width: 30%;
}

.budget-table th:last-child,
.budget-table td:last-child {
  width: 15%;
}

/* ---- Form Elements ---- */

.add select,
.add button {
  height: 36px;
}

select {
  margin-bottom: 10px;
}

/* ---- Modal Styling ---- */

form.edit-ledger {
  padding: 15px;
}

.modal-content h3 {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 10px;
}
.modal-dialog {
  margin-top: 50%;
}

/* ---- Tab Browsing ---- */

#tabs ul {
  margin-bottom: 0;
  padding: 0;
}

#tabs li {
  display: inline-block;
}

#tabs>ul li {
  background: #002E64;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
}

#tabs ul>li a {
  color: #a9a9a9;
  display: block;
  padding: 10px 15px;
}

#tabs>div {
  border: 1px solid #ccc;
  border-radius: 5pxl;
  padding: 0 10px 10px;
}

#tabs>ul li:hover,
#tabs>ul li.ui-state-active {
  background:#dfdfdf;
}

#tabs>ul li:hover a,
#tabs>ul li.ui-state-active a {
  color: #002E64;
}



/************************************** 
  MEDIA QUERIES
**************************************/

@media (min-width: 796px) {
  
  header p {
    float: left;
    width: 65%;
  }
  
  .summary-table {
    float: right;
    width: 30%;
  }
  
  header:after {
    clear: both;
    content: "";
    display: table;
  }
  
  /* ---- Form Elements ---- */
  
  .add select {
    width: 15%;  
  }

  .add input {
    display: inline-block;
  }

  .add input:nth-child(2) {
    width: 29%;
  }

  .add input:nth-child(3) {
    width: 16%;
  }

  .add input:nth-child(4) {
    width: 24%;
  }
  
  /* ---- Modal Styling ---- */
  
  .modal-dialog {
    margin-top: 20%;
  }
  
}