/************************************** 
  BASE ELEMENT STYLES
**************************************/

/* ---- Budget Table Defaults ---- */

.budget table {
  background: #fff;
  border: 1px solid #ddd;
}

.budget td {
  border-bottom: 1px solid #ddd;
}

.budget td,
.budget th {
  border-right: 1px solid #ddd; 
}

.summary-table td {
  width: 50%;
}

.summary-table td:first-child {
  font-weight: bold;
}

/* ---- Expenses Table ---- */

.expenses-table td {
  border-top: 1px solid #ddd; 
  border-bottom: 0;
}

.expenses-table th:first-child,
.expenses-table td:first-child {
  width: 15%;
}

.expenses-table th:nth-child(2),
.expenses-table td:nth-child(2) {
  width: 30%;
}

.expenses-table th:last-child,
.expenses-table td:last-child {
  width: 15%;
}

/* ---- Form Elements ---- */

.add-bill select,
.add-bill button {
  height: 36px;
}

select {
  margin-bottom: 10px;
}

/* ---- Tab Browsing ---- */

#tabs li {
  display: inline-block;
}

#tabs ul {
  margin-bottom: 0;
  padding: 0;
}

#tabs>ul li {
  background: #002E64;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
}

#tabs ul>li a {
  color: #a9a9a9;
  display: block;
  padding: 10px 15px;
}

#tabs>div {
  border: 1px solid #ccc;
  border-radius: 5pxl;
  padding: 0 10px 10px;
}

#tabs>ul li:hover,
#tabs>ul li.ui-state-active {
  background:#dfdfdf;
}

#tabs>ul li:hover a,
#tabs>ul li.ui-state-active a {
  color: #002E64;
}



/************************************** 
  MEDIA QUERIES
**************************************/

@media (min-width: 796px) {
  
  header p {
    float: left;
    width: 65%;
  }
  
  .summary-table {
    float: right;
    width: 30%;
  }
  
  header:after {
    clear: both;
    content: "";
    display: table;
  }
  
  /* ---- Form Elements ---- */

  .add-bill select {
    width: 15%;  
  }

  .add-bill input {
    display: inline-block;
  }

  .add-bill input:nth-child(2) {
    width: 29%;
  }

  .add-bill input:nth-child(3) {
    width: 16%;
  }

  .add-bill input:nth-child(4) {
    width: 24%;
  }
  
}