<h2>Expenses</h2>

<table>
  <tr>
    <th>Category</th>
    <th>Payee</th>
    <th>Amount</th>
    <th>Payment Date</th>
  </tr>
  <tr data-ng-repeat="bill in bills | orderBy: 'date'">
    <td>{{ bill.category }}</td>
    <td>{{ bill.payee }}</td>
    <td>{{ bill.amount | currency}}</td>
    <td>{{ bill.date | date:'MM/dd/yyyy' }}</td>
    <td>
      <button class="button" class="button"  data-ng-click="editing = true" title="Edit">Edit</button>
      <button class="button" data-ng-click="removeExpense()" title="Delete">Delete</button>
    </td>
  </tr>
</table>

<!-- Put in Directive to use when editing modal opens
      <form data-ng-show="editing">      
        <select data-ng-model="bill.category">
          <option data-ng-repeat="category in categories | orderBy: category">{{ category }}</option>
        </select>
        <input type="text" data-ng-model="bill.payee" placeholder="Payee">
        <input type="number" min="0.01" step="0.01" data-ng-model="bill.amount" placeholder="Amount">
        <input type="date" data-ng-model="bill.date" placeholder="Payment Date">
        <button class="btn btn-default" data-ng-click="editing = false" title="Save">Save</button>
        <button class="btn btn-default" data-ng-click="removeExpense()" title="Delete">Delete</button>
      </form>
-->

<table data-ng-init="calculateExpenses()">
  <tr>
    <td>Available</td>
    <td>$1,000,000,000</td>
  </tr>
  <tr>
    <td>Expenses</td>
    <td>{{ totalExpenses | currency }}</td>
  </tr>
  <tr>
    <td>Remaining</td>
    <td></td>
  </tr>
</table>
      
<!-- Add New Bill -->
<form>
  <select data-ng-model="selectedCategory">
    <option data-ng-repeat="category in categories | orderBy: category">{{ category }}</option>
  </select>
  <input type="text" data-ng-model="payee" placeholder="Payee">
  <input type="number" min="0.01" step="0.01" data-ng-model="amount" placeholder="Amount">
  <input type="date" data-ng-model="date" placeholder="Payment Date">
  <button class="button" data-ng-click="addNewExpense()">Add Expense</button>
</form>

<pre>{{ bills }}</pre>