<h2>Add Ledger Entry</h2>

<form class="add-entry">
  <div>
    <label>
      <input type="radio" name="entryType" data-ng-model="entryType" value="income">
        Income
    </label>
    <label>
      <input type="radio" name="entryType" data-ng-model="entryType" value="expense">
        Expense
    </label>
  </div>
  <input class="entry-date" type="text" name="date" data-ng-model="date" placeholder="Date" datepicker readonly="true">
  <select class="entry-category" name="category" data-ng-model="selectedCategory" data-ng-options="category.name group by category.group for category in ledgerCategories | orderBy: ['group', 'name']">
    <option value="" disabled>-- {{ entryType | capitalize }} Category --</option>
  </select>
  <input class="entry-payee-source" type="text" name="payeeSource" data-ng-model="payeeSource" placeholder="Payee/Source">
  <input class="entry-amount" name="amount" type="number" min="0" step="0.01" data-ng-model="amount" placeholder="Amount">
  <button data-ng-click="newLedgerEntry()">Add</button>
</form> 

<table class="budget-table">
  <tr>
    <th class="entry-date">Date</th>
    <th class="entry-category">Category</th>
    <th class="entry-payee-source">Source/Payee</th>
    <th class="entry-amount">Amount</th>
    <th class="add-edit-entry">Edit</th>
  </tr>

  <tr data-ng-repeat="entry in ledger.entries | orderBy: 'date'">

    <td class="entry-date" data-ng-if="entry.date">{{ entry.date | date:'MM/dd/yyyy' }}</td>
    <td class="entry-date" data-ng-if="!entry.date"><em>No Date Entered</em></td>

    <td class="entry-category" data-ng-if="entry.category.name">{{ entry.category.name }}</td>
    <td class="entry-category" data-ng-if="!entry.category.name"><em>No Category</em></td>

    <td class="entry-payee-source" data-ng-if="entry.payeeSource">{{ entry.payeeSource }}</td>
    <td class="entry-payee-source" data-ng-if="!entry.payeeSource"><em>No Source</em></td>

    <td class="entry-amount" data-ng-class="entry.entryType === 'expense' ? 'red' : ''"><span data-ng-if="entry.entryType === 'expense'"> - </span>{{ entry.amount | currency}}</td>
    <td class="add-edit-entry">
      <button title="Edit">Edit</button>
      <button data-ng-click="removeEntry(entry.ledgerId)">Delete</button>
    </td>
  </tr>

</table>