<h2>Budget Report</h2>

<table class="report-table">
  
  <thead>
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Vendor</th>
      <th>Amount</th>
    </tr>
  </thead>
  
  <tbody>
    <tr data-ng-repeat="entry in ledger.entries | orderBy : 'date' ">
    
      <td>
        <span data-ng-if="!entry.date"><em>No Date</em></span>
        {{ entry.date | date:'MM/dd/yyyy' }}
      </td>

      <td>
        <span data-ng-if="!entry.category.name"><em>No Category</em></span>
        {{ entry.category.name }}
      </td>

      <td>
        <span data-ng-if="!entry.vendor"><em>No Vendor</em></span>
        {{ entry.vendor }}
      </td>

      <td data-ng-class="entry.entryType === 'expense' ? 'red' : 'green'">
        <span data-ng-if="entry.entryType === 'expense'"> - </span>
        {{ entry.amount | currency}}
      </td>

    </tr>
  </tbody>

</table>

<button data-ng-click="printReport()">Print Report</button>