<h2>Budget Report</h2>

<p class="disclaimer">Click on column header to sort</p>
<table class="report-table">
  
  <thead>
    <tr>
      <th data-ng-click="sortType = 'date'; sortReverse = !sortReverse">Date</th>
      <th data-ng-click="sortType = 'category'; sortReverse = !sortReverse">Category</th>
      <th data-ng-click="sortType = 'vendor'; sortReverse = !sortReverse">Vendor</th>
      <th data-ng-click="sortType = 'amount'; sortReverse = !sortReverse">Amount</th>
    </tr>
  </thead>
  
  <tbody>
    <tr data-ng-repeat="entry in ledger.entries | orderBy:sortType:sortReverse">
    
      <td>
        <span data-ng-if="!entry.date"><em>No Date</em></span>
        {{ entry.date | date:'MM/dd/yyyy' }}
      </td>

      <td>
        <span data-ng-if="!entry.category.name"><em>No Category</em></span>
        {{ entry.category.name }}
      </td>

      <td>
        <span data-ng-if="!entry.vendor"><em>No Vendor</em></span>
        {{ entry.vendor }}
      </td>

      <td data-ng-class="entry.entryType === 'expense' ? 'red' : 'green'">
        <span data-ng-if="entry.entryType === 'expense'"> - </span>
        {{ entry.amount | currency}}
      </td>

    </tr>
  </tbody>

</table>

<button data-ng-click="printReport()">Print Report</button>