<h3>Edit Ledger Entry</h3>
<form class="edit-ledger">  
  
  <!-- Only one of the following dropdowns is displayed based on the ng-if statement and the typeOfEntry value in the modal instance controller -->
  <select data-ng-model="entry.category" data-ng-options="billCategory.name group by billCategory.group for billCategory in billCategories | orderBy: ['group', 'name']" data-ng-if="typeOfEntry === 'bill'">
    <option value="" disabled>-- Bill Category --</option>
  </select>
  <select data-ng-model="entry.category" data-ng-options="incomeCategory.name group by incomeCategory.group for incomeCategory in incomeCategories | orderBy: ['group', 'name']" data-ng-if="typeOfEntry === 'income'">
    <option value="" disabled>-- Income Category --</option>
  </select>
  
  <input type="text" data-ng-model="entry.payeeSource" placeholder="Payee">
  <input type="number" min="0.01" step="0.01" data-ng-model="entry.amount" placeholder="Amount">
  <input type="date" data-ng-model="entry.date" placeholder="Payment Date">
  <button data-ng-click="saveClose()" title="Save">Save/Close</button>
  
  <!-- Only one of the following buttons is displayed based on the ng-if statement and the typeOfEntry value in the modal instance controller -->
  <button data-ng-click="delete('bill', entry.ledgerId)" title="Delete" data-ng-if="typeOfEntry === 'bill'">Delete</button>
  <button data-ng-click="delete('income', entry.ledgerId)" title="Delete" data-ng-if="typeOfEntry === 'income'">Delete</button>

</form>