<form class="edit-bill">      
  <select data-ng-model="bill.category" data-ng-options="billCategory.name group by billCategory.group for billCategory in billCategories | orderBy: ['group', 'name']">
    <option value="" disabled>-- Bill Category --</option>
  </select>
  <input type="text" data-ng-model="bill.payee" placeholder="Payee">
  <input type="number" min="0.01" step="0.01" data-ng-model="bill.amount" placeholder="Amount">
  <input type="date" data-ng-model="bill.date" placeholder="Payment Date">
  <button data-ng-click="saveClose()" title="Save">Save/Close</button>
  <button data-ng-click="removeExpense()" title="Delete">Delete</button>
</form>
<pre>{{ bill }}</pre>