<form class="edit-ledger">      
  <select data-ng-model="income.category" data-ng-options="incomeCategory.name group by incomeCategory.group for incomeCategory in incomeCategories | orderBy: ['group', 'name']">
    <option value="" disabled>-- Bill Category --</option>
  </select>
  <input type="text" data-ng-model="income.incomeSource" placeholder="Source">
  <input type="number" min="0" step="0.01" data-ng-model="income.amount" placeholder="Amount">
  <input type="date" data-ng-model="income.date">
  <button data-ng-click="saveClose()" title="Save">Save/Close</button>
  <button data-ng-click="" title="Delete">Delete</button>
</form>
<pre>{{ income }}</pre>