<form class="add-entry">

  <div class="entry-type">
    <label>Entry Type <span>*</span></label>
      <div class="radio-buttons">
        <div>
          <input type="radio" name="entryType" id="income" value="income" data-ng-model="entryType">
          <label for="income">Income</label>
        </div>
        <div>
          <input type="radio" name="entryType" id="expense" value="expense" data-ng-model="entryType">
          <label for="expense">Expense</label>
        </div>
      </div>
  </div>

  <edit-fields></edit-fields>
  
  <div class="clearfix">
    <button data-ng-click="addEntry()">Add</button> 
  </div>

</form> 