<form class="add-entry">

  <div>
    <label>Entry Type <span>*</span></label>
      <div class="radio-buttons">
        <div>
          <input type="radio" name="entryType" id="income" value="income" data-ng-model="entryType">
          <label for="income">Income</label>
        </div>
        <div>
          <input type="radio" name="entryType" id="expense" value="expense" data-ng-model="entryType">
          <label for="expense">Expense</label>
        </div>
      </div>
  </div>

  <div>
    <label for="date">Date</label>
    <input type="text" id="date" data-ng-model="date" placeholder="Date" readonly class="datepicker">
  </div>

  <div>
    <label for="category">Category</label>
    <select id="category" data-ng-model="selectedCategory" data-ng-options="category.name group by category.group for category in ledgerCategories | orderBy: ['group', 'name']">
      <option value="" disabled>-- {{ entryType | capitalize }} Category --</option>
    </select>
  </div>

  <div>
    <label for="vendor">Vendor</label>
    <input type="text" id="vendor" data-ng-model="vendor" placeholder="Vendor">
  </div>

  <div>
    <label for="amount">Amount <span>*</span></label>
    <input id="amount" type="number" min="0" step="0.01" data-ng-model="amount" placeholder="Amount">
  </div>

  <button data-ng-click="addEntry()">Add</button>

</form> 