/************************************** 
  BASE ELEMENT STYLES
**************************************/

header {
  padding-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.green {
  color: #00640e;
}

.red {
  color: #a11e2d;
}

.income {
  border-color: #00640e;
}

.expense {
  border-color: #a11e2d;
}

body {
  padding-top: 20px;
}

header,
nav {
  margin: 0 auto;
  max-width: 1150px;
  padding: 1em 1.5em 0;
}

main {
  padding: 0 1.5em 2.25em;
}

main>div {
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  padding: 0 1rem 1rem;
}

/* ---- Nav Elements ---- */

nav {
  background: none;
  position: relative;
  z-index: 0;
}

nav ul {
  float: none;
  margin-top: 0;
}

nav li {
  background: rgb(0, 46, 100);
  margin-bottom: 0;
}

nav li:hover,
nav li.active {
  background: #dfdfdf;
}

nav li:hover a,
nav li.active a {
  color: #002E64;
}

/* ---- Datepicker Elements ---- */

.ui-state-hover,
.ui-widget-content,
.ui-widget-header,
.ui-widget-content .ui-state-hover {
  border: none;
  background: none;
}

.ui-state-hover,
.ui-datepicker-title,
.ui-widget-content .ui-state-hover {
  color: #002E64;
}

.ui-state-highlight, 
.ui-widget-content .ui-state-highlight {
  border: 1px solid #ccc;
  background: #002E64;
  color: #fff;
}

.ui-state-active, 
.ui-widget-content .ui-state-active {
  color: #002E64;
}

a.ui-state-highlight.ui-state-active {
  background: #fff;
}

#ui-datepicker-div {
  background: #fff;
  border: 1px solid #ccc;
}

/* ---- Budget Table Defaults ---- */

.budget-table,
table {
  background: #fff;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

td,
th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

th {
  text-align: left;
}

.budget-table {
  display: table;
  width: 100%;
}

.budget-table>div {
  display: table-row;
}

.budget-table>div>div {
  border-right: 1px solid #ccc;
  display: table-cell;
}

.table-header {
  font-weight: bold;
}

.table-header>div {
  padding: .5rem;
}

.table-row {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: inherit;
}

.table-row>div {
  padding: 0 .5rem;
}

.summary-table td {
  width: 50%;
}

/* ---- Form Elements ---- */

input,
select {
  width: 100%;
}

input[type="radio"] {
  display: none;
}

label {
  font-size: .85rem;
  font-weight: bold;
}

label span {
  color: red;
}

.entry-type {
  display: block;
}

.entry-type label {
  width: 100%;
}

.radio-buttons>div {
  display: inline-block;
}

button,
.radio-buttons label {
  background: #002E64;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin: .5rem 0;
  padding: .38rem;
}

input.ng-valid-parse + label,
.radio-buttons label:hover {
  background: #dfdfdf;
  color: #002E64;
}

select {
  height: 29px;
}

/************************************** 
  MEDIA QUERIES
**************************************/

/*Large Screens */
@media (min-width: 769px) {
  
  header p {
    float: left;
    width: 65%;
  }
  
  .summary-table {
    float: right;
    width: 30%;
  }
  
  .entry-payee-source {
    display: inline-block;
    width: 39%;
  }
  
  .entry-date,
  .entry-category,
  .entry-amount,
  .add-edit-entry {
    display: inline-block;
    width: 15%;
  }
  
/* Print View */
@media print {
  
  button,
  header {
    display: none;
  }
  
}