/************************************** 
  BASE ELEMENT STYLES
**************************************/

header {
  padding-bottom: 20px;
}

body {
  padding-top: 0;
}

header,
nav {
  margin: 0 auto;
  max-width: 1150px;
  padding: 1em 0 0;
}

.image-wrapper {
  display: none;
}

main {
  padding: 0 0 2.25em;
}

main>div {
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  padding: 0 1rem 1rem;
}

p.disclaimer {
  font-size: .75rem;
  font-style: italic;
  margin: 0;
  text-align: center;
}

.green {
  color: #00640e;
}

.red {
  color: #a11e2d;
}

/* ---- Nav Elements ---- */

nav {
  background: none;
  position: relative;
  z-index: 0;
}

nav ul {
  float: none;
  margin-top: 0;
}

nav li {
  background: rgb(0, 46, 100);
  margin-bottom: 0;
}

nav li:hover,
nav li.active {
  background: #dfdfdf;
}

nav li:hover a,
nav li.active a {
  color: #002E64;
}

/* ---- Datepicker Elements ---- */

.ui-state-hover,
.ui-widget-content,
.ui-widget-header,
.ui-widget-content .ui-state-hover {
  border: none;
  background: none;
}

.ui-state-hover,
.ui-datepicker-title,
.ui-widget-content .ui-state-hover {
  color: #002E64;
}

.ui-state-highlight, 
.ui-widget-content .ui-state-highlight {
  border: 1px solid #ccc;
  background: #002E64;
  color: #fff;
}

.ui-state-active, 
.ui-widget-content .ui-state-active {
  color: #002E64;
}

a.ui-state-highlight.ui-state-active {
  background: #fff;
}

#ui-datepicker-div {
  background: #fff;
  border: 1px solid #ccc;
}

/* ---- Table Defaults ---- */

.budget-table,
table {
  background: #fff;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.budget-table {
  display: table;
  width: 100%;
}

.table-header {
  display: table-row;
  font-weight: bold;
}

.table-header>div {
  border-right: 1px solid #ccc;
  display: table-cell;
  padding: .5rem;
}

.table-row {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: inherit;
  display: table-row;
}

.table-row>div {
  border-right: 1px solid #ccc;
  display: table-cell;
  padding: .75rem .5rem;
}

.summary-table td {
  width: 50%;
}

tr {
  border-bottom: 1px solid #ccc;
}

th {
  border-right: 1px solid #ccc;
}

.report-table th:hover {
  cursor: pointer;
}

.report-table tbody td {
  border-right: 1px solid #ccc;
  text-align: center;
}

.report-table thead th:nth-child(2),
.report-table tbody td:nth-child(2) {
  display: none;
}



/* ---- Form Elements ---- */

input,
select {
  width: 100%;
}

input[type="radio"] {
  display: none;
}

label {
  font-size: .85rem;
  font-weight: bold;
}

label span {
  color: red;
}

.entry-type {
  display: block;
}

.entry-type label {
  width: 100%;
}

.radio-buttons>div {
  display: inline-block;
}

button,
.radio-buttons label {
  background: #002E64;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin: .5rem 0;
  padding: .38rem;
}

input.ng-valid-parse + label,
.radio-buttons label:hover {
  background: #dfdfdf;
  color: #002E64;
}

select {
  height: 29px;
  margin-bottom: 10px;
}

/* ---- Lightbox ---- */
.lightbox {
  position: fixed;
  z-index: 100065;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.80);
}

.lightbox>div {
  background: #fff;
  position: relative;
  margin: 0 auto;
  max-width: 1150px;
  top: 30%;
}


/************************************** 
  MEDIA QUERIES
**************************************/

/*Large Screens */
@media (min-width: 769px) {
  
  header,
  nav {
    padding: 1em 1.5em 0;
  }

  main {
    padding: 0 1.5em 2.25em;
  }
  
  .image-wrapper {
    display: inline-block;
    float: left;
    text-align: center;
    width: 65%;
  }
  
  .image-wrapper img {
    display: inline-block;
    width: 20%;
  }
  
  .image-wrapper img:nth-child(2) {
    margin: 0 10%;
  }
  
  .summary-table {
    float: right;
    width: 30%;
  }
  
  .entry-vendor {
    display: inline-block;
    width: 39%;
  }
  
  .entry-date,
  .entry-category,
  .entry-amount,
  .add-edit-entry {
    display: inline-block;
    width: 15%;
  }
  
  .table-row>div {
    padding: 0 .5rem;
  }
  
  .report-table thead th:nth-child(2),
  .report-table tbody td:nth-child(2) {
    display: table-cell;
  }
  
  
/* Print View */
@media print {
  
  button,
  header,
  nav {
    display: none;
  }
  
}